html {
  width: 100%;
  height: 100%;
}
body {
  font-family: sans-serif;
  background-image: url('https://tse3-mm.cn.bing.net/th/id/OIP-C.tmvIu57hTRpXhPRWkBDDEQHaEK?w=329&h=185&c=7&r=0&o=5&dpr=1.25&pid=1.7');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;

}
p.tit{
  background-color:rgba(250, 250, 250, 0.5);
  font-size: 20px;
  text-align: center;
  padding: 20px;
  border: ridge 11px;
}
.tlt_content{
  background-color:rgba(250, 250, 250, 0.5);
  padding: 30px;
  border: ridge;
  border-radius: 10px;
}
