
body {
  font-family: sans-serif;
  background-image: url(h1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  background-attachment: fixed;
  min-width: 1024px;

}
div{
    display:flex;
    flex-direction:row;
}
.sort_one{
    background-color: rgba(250, 250, 250, 0.4);
    margin:20px;
    padding=10px;
    justify-content:space-between;
}
p.tit{
    margin-left:20px;
}
.sort_two{

  padding: 10px;
  margin-top:30px;
  border: 10px;
  border-radius: 20px;

}
.two_left{
  background-color:rgba(250, 250, 250, 0.4);
  width:500px;
  border-radius:20px;
  margin-right: 20px;
  display:flex;
  flex-direction:column;
}
.personal-top{
    padding: 20px 0 20px 20px;
    display: flex;
    align-items: center;
    /*background: url(h1.jpg) no-repeat;
    background-size: cover;
    position: relative;*/
    cursor: pointer;
}
.personal-top-avatar{
    width: 130px;
    height: 130px;
    overflow: hidden;
    margin-right: 17px;

}
.personal-top-info{
    height: 130px;
    flex-direction:column;
    justify-content:space-around;
}
.personal-top-info-name{
    font-size: 22px;

    line-height: 24px;
    font-weight: 400;
    /*display: inline-block;
    max-width: calc(100% - 79px);*/
}
.personal-top-info-job{
    font-size: 14px;

    line-height: 14px;
    font-weight: 400;
}
.wei{
    padding-left:20px;
    display:flex;
    flex-direction:column;
}
.family_str{
    padding:10px;
    flex-direction:column;
    font-family: '宋体';
    text-shadow: 1px 1px 2px LightGray;
    font-style: italic;
}
.two_right{

  display:flex;
  flex-direction:column;
  margin-left:30px;
}
.f{
    background-color:rgba(250, 250, 250, 0.4);
    padding:10px;
    border-radius:20px
}
.user-pto{
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 10px;
}
.user-info{
    height: 50px;
    flex-direction:column;
    font-family:Serif;
    justify-content:space-between;
    margin: 10px;
}
.f-content{
    flex-direction:column;
}
.f-info{
    padding:15px;
    font-size: 14px;
}
.f-img{
    width: 520px;
    height: 360px;
    overflow: hidden;
    margin: 10px;
}

