html {
  width: 100%;
  height: 100%;
}
body {
  font-family: sans-serif;
  background-image: url(itlem.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;

}
p.tit{
  background-color:rgba(250, 250, 250, 0.5);
  font-size: 20px;
  text-align: center;
  padding: 20px;
  border: ridge 11px;
}
.tlt_content{
  background-color:rgba(250, 250, 250, 0.5);
  padding: 30px;
  border: ridge;
  border-radius: 10px;
}
